@page "/foglalasok/{id:int}"
@inject IFoglalasRepository FoglalasRepo
@inject ISzobaRepository SzobaRepo
@inject IVendegRepository VendegRepo

<PageTitle>
    Foglalás részletei:
</PageTitle>

<a class="btn btn-primary" href="/foglalasok">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
    </svg> Vissza
</a>

<div class="row justify-content-center mt-5">
    @if(Foglalas is not null)
    {
        <div class="col-6">
            <h3>Foglalás:</h3>
            <ul>
                <li>Kezdete: @Foglalas.Kezdete</li>
                <li>Éjszakák száma: @Foglalas.EjszakakSzama</li>
            </ul>
            <h3>Szoba:</h3>
            <ul>
                <li>Szobaszám: @Foglalas.SzobaRef?.SzobaSzam</li>
                <li>Kategória: @Foglalas.SzobaRef?.KategoriaRef?.Megnevezes</li>
                <li>Ágyak száma: @Foglalas.SzobaRef?.AgyakSzama</li>
                <li>Egységár (HUF/fő/éjszaka): @Foglalas.SzobaRef?.KategoriaRef?.EgysegAr</li>
            </ul>
            <h3>Vendégek:</h3>
            <ul>
                <li>Foglaló vendég: @Foglalas.VendegRef?.Nev</li>
                <li>Vendégek összesen: @Foglalas.SzemelyekSzama</li>
            </ul>
            <h3>Összköltség: @(
                    Foglalas.SzemelyekSzama * Foglalas.EjszakakSzama * @Foglalas.SzobaRef?.KategoriaRef?.EgysegAr
                ) HUF
            </h3>
        </div>
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    public Foglalas? Foglalas { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Foglalas = await FoglalasRepo.ReadByIdAsync(Id);
        
    }
}
